.spacing-01,
.spacing-02,
.spacing-03,
.spacing-04,
.spacing-05,
.spacing-06,
.spacing-07,
.spacing-08,
.spacing-09,
.spacing-10,
.spacing-11,
.spacing-12 {
	display: block;
	background-color: $gray-02;
	color: $black;
	border: 1px solid $black;
}



.spacing-01 { width: $spacing-01 }
.spacing-02 { width: $spacing-02 }
.spacing-03 { width: $spacing-03 }
.spacing-04 { width: $spacing-04 }
.spacing-05 { width: $spacing-05 }
.spacing-06 { width: $spacing-06 }
.spacing-07 { width: $spacing-07 }
.spacing-08 { width: $spacing-08 }
.spacing-09 { width: $spacing-09 }
.spacing-10 { width: $spacing-10 }
.spacing-11 { width: $spacing-11 }
.spacing-12 { width: $spacing-12 }
