@import '../../styles/variables.scss';

$background-color: var(--bg-color);

.root {
	background-color: $background-color;
	font-size: 69;
	padding: 1rem 2rem;
	border-radius: 2px;
	color: $white;
	border: 1px solid transparent;
	cursor: pointer;

	&.has-rounded-corners {
		border-radius: 10px;
	}

	&:hover {
		border: 1px solid black;
	}

	&:disabled {
		cursor: not-allowed;
		background-color: lightgray;
		border: none;
	}
}
